include README.md LICENSE CHANGES pyproject.toml .tmuxp.yaml
include requirements/*.txt
recursive-include docs *.md
recursive-include tests *.py *.yaml *.json *.sh
recursive-include examples  *.yaml *.json
