include README.rst LICENSE CHANGES pyproject.toml .tmuxp.yaml
include requirements/*.txt
recursive-include docs *.rst
recursive-include tests *.py *.yaml *.json *.sh
recursive-include examples  *.yaml *.json
