[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
docutils = "*"
alagitpull = "*"
aafigure = "*"
sphinx = "*"
isort = "*"
"flake8" = "*"
pytest = "*"
pytest-rerunfailures = "*"
tmuxp = {path = ".",editable = true}
"doc8" = "*"
twine = "*"
sphinx-issues = "*"
pillow = "*"
black = "==19.10b0"

[packages]
kaptan = "*"
libtmux = "<0.9"
click = ">=7<8"
colorama = "*"
e1839a8 = {path = ".",editable = true}
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3"
