[tool.black]
skip-string-normalization = true

[tool.poetry]
name = "tmuxp"
version = "1.8.1"
description = "tmux session manager"
license = "MIT"
authors = ["Tony Narlock <tony@git-pull.com>"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "License :: OSI Approved :: MIT License",
  "Operating System :: POSIX",
  "Operating System :: MacOS :: MacOS X",
  "Environment :: Web Environment",
  "Intended Audience :: Developers",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: Implementation :: PyPy",
  "Topic :: Utilities",
  "Topic :: System :: Shells"
]
keywords = ["tmux", "session manager", "terminal", "ncurses"]
homepage = "http://github.com/tmux-python/tmuxp/"
readme = "README.rst"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/tmux-python/tmuxp/issues"
Documentation = "https://tmuxp.git-pull.com"
Repository = "https://github.com/tmux-python/tmuxp"

[tool.poetry.scripts]
tmuxp = 'tmuxp:cli.cli'

[tool.poetry.dependencies]
python = "^3.6"
click = "^7"
kaptan = ">=0.5.10"
libtmux = "<0.10"
colorama = ">=0.3.9"

[tool.poetry.dev-dependencies]
### Docs ###
sphinx = "*"
recommonmark = {version = "^0.6.0"}
alagitpull = {version = "~0.1.0"}
sphinx-issues = {version = "^1.2.0"}
aafigure = ">=0.6"
pillow = "*"

### Testing ###
pytest = "*"
pytest-rerunfailures = "*"
pytest-mock = "*"
pytest-cov = "*"

### Coverage ###
codecov = "*"
coverage = "*"

### Format ###
black = {version="==21.6b0", python="^3.6.2"}
isort = [
  {version="<5", python="<3.6"},
  {version="*", python=">=3.6"}
]

### Lint ###
flake8 = "*"

### Deploy ###
twine = "*"

[tool.poetry.extras]
docs = ["sphinx", "recommonmark", "sphinx-issues", "alagitpull", "aafigure", "pillow"]
test = ["pytest", "pathlib2", "pytest-rerunfailures", "pytest-mock"]
coverage = ["codecov", "coverage", "pytest-cov"]
format = ["black", "isort"]
lint = ["flake8"]
deploy = ["twine"]
