div.sidebar {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: inherit;
}

div.sidebar .sidebar-title {
    display: none;
}

div.sidebar {
    font-size: 13px;
}

div.sidebar img {
    margin: 0px;
    padding: 0px;
    width: 50%;
    text-align: center;
}

form.navbar-form {
    padding: 0px 10px;
}

div#changelog > div.section > ul > li > p:only-child {
    margin-bottom: 0;
}

div#text-based-window-manager {
    clear: both;
}

@media screen and (max-width: 768px) {
    #fork-gh img {
        display: none;
    }
}

/*** Book Stuff ***/
div.book-container {
    clear: both;
    height: 170px;
}

div.book-container > p {
    text-align: center;
}

div.book-container div.leftside-book {
    width: 131px;
    padding: 0px;
    float: left;
}

div.book-container div.leftside-book div.figure.align-left {
    padding: 0px;
    margin: 0px;
}

div.book-container div.leftside-book div.figure.align-left img {
   width: 131px;
   height: 170px;
}

div.book-container div.rightside-book {
    margin-left: 131px;
    padding: 0px 10px;
}

div.book-container div.rightside-book div.figure {
    padding: 0;
    margin: 0;
}

div.book-container div.rightside-book div.figure.align-left {
   /* clear:none;   if using a rightside button like iBooks */
   clear: both;
}


table.docutils {
   background-color: #fafbfc;
   border: 0;
}

table.docutils td, table.docutils th {
   border: 0;
}

table.docutils pre {
  background-color: rgba(239, 242, 244, .75);
}

pre {
  background-color: #fafbfc;
  border-left: 5px solid #558abb;
  font-size: 0.75em;
}

div.seealso, div.note {
  background-color: #fafbfc;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

div.seealso {
  border-left: 5px solid #8abb55;
}

div.note {
  border-left: 5px solid #bb5557;
}

code.literal{
  font-size: 85%;
  color: #24292e;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 2px;
  background: #fafcfc;
  border: 1px solid #f0f4f7;
  border-radius: 4px;
  line-height: 20px;
}

code::before, code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
