div.sidebar {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: inherit;
}

div.sidebar .sidebar-title {
    display: none;
}

div.sidebar {
    font-size: 13px;
}

div.sidebar img {
    margin: 0px;
    padding: 0px;
    width: 50%;
    text-align: center;
}

form.navbar-form {
    padding: 0px 10px;
}

div#changelog > div.section > ul > li > p:only-child {
    margin-bottom: 0;
}

div#text-based-window-manager {
    clear: both;
}

@media screen and (max-width: 768px) {
    #fork-gh img {
        display: none;
    }
}

/*** Book Stuff ***/
div.book-container {
    clear: both;
    height: 230px;
}

div.book-container > p {
    text-align: center;
}

div.book-container div.leftside-book {
    width: 180px;
    padding: 0px;
    float: left;
}

div.book-container div.leftside-book div.figure.align-left {
    padding: 0px;
    margin: 0px;
}

div.book-container div.leftside-book div.figure.align-left img {
   width: 180px;
   height: 230px;
}

div.book-container div.rightside-book {
    margin-left: 180px;
    padding: 0px 10px;
}

div.book-container div.rightside-book p:first-child {
   text-align: center;
}

div.book-container div.rightside-book div.figure {
    padding: 0;
    margin: 0;
}

div.book-container div.rightside-book div.figure.align-left {
   /* clear:none;   if using a rightside button like iBooks */
   clear: both;
}


